<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6003852237-4jlc2ofjj1u95sjukjdaa5nfuh08qhr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6003852237-4jlc2ofjj1u95sjukjdaa5nfuh08qhr3</string>
	<key>API_KEY</key>
	<string>AIzaSyBxswcHryMn0sfJ3PcfiTpwWU9ZC-OqqZw</string>
	<key>GCM_SENDER_ID</key>
	<string>6003852237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>freelancer-4107d</string>
	<key>STORAGE_BUCKET</key>
	<string>freelancer-4107d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6003852237:ios:d9ce1acfb77387eff0fa84</string>
	<key>DATABASE_URL</key>
	<string>https://freelancer-4107d.firebaseio.com</string>
</dict>
</plist>